pre {
    white-space: pre-wrap; /* Allows text to wrap */
    word-wrap: break-word; /* Breaks long words */
    background-color: #FFF8DC; /* Cornsilk */
    padding: 10px;
    border-radius: 8px;
    overflow: auto;
}

code {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    color: #212121; /* Almost Black */
}
