.projects {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px;
    scroll-snap-type: x mandatory; /* Enable snap scrolling */
}

.card {
    position: relative; /* Position the project type icon */
    min-width: 200px; /* Use min-width to ensure the cards fit */
    height: 300px; /* Adjust height to fit the content */
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start; /* Align cards to the start of the scroll container */
    opacity: 0;
    animation: fadeInUp 0.5s ease-in-out forwards;
}

.project-type {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.8); /* Slightly transparent background */
    padding: 5px;
    border-radius: 50%;
    font-size: 16px; /* Adjust size as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px; /* Adjust size as needed */
    height: 30px; /* Adjust size as needed */
}

.card img {
    width: 100%;
    height: 60%; /* Adjust as needed */
    object-fit: cover; /* Ensures the image covers the area without distortion */
}

.card a {
    text-decoration: none; /* Remove hyperlink styling */
    color: inherit; /* Inherit text color */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card a:hover {
    cursor: pointer; /* Change cursor on hover */
}

.card .content {
    padding: 10px;
    text-align: center;
    flex: 1;
}

.card .content h3 {
    margin: 0;
    font-size: 16px;
    color: #635bff; /* Deep Purple */
}

.card .content .tags {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}

.card .content .tags .tag {
    background-color: #e2e1f7; /* Mustard Yellow */
    border-radius: 10px;
    padding: 5px 10px;
    font-size: 12px;
    color: black; /* Almost Black */
}
